mixin form-btn-group(resource)
  - var _isEditing = 'isEditing(' + resource + '.id)'
  
  div.btn-group(ng-hide=_isEditing)
    button.btn.btn-danger(type='button'
      ng-click='destroy('+resource+'.id)') حذف
    button.btn.btn-primary(type='button'
      ng-click='edit('+resource+'.id)') تعديل

  div.btn-group(ng-show=_isEditing)
    button.btn.btn-success(type='button'
      ng-click='reset('+resource+'.id)') إلغاء
    button.btn.btn-primary(type='button'
      ng-click='update('+resource+')') حفظ
