include ../fieldwitherrors

mixin identifyable-form(name, isShown)
  div(ng-show=isShown)
    +field-with-errors('trade_id')
      select.form-control(ng-model=(name + '.trade_id')
        placeholer="{{ 'TRADES.SINGLE' | translate }}"
        ng-options='t.id as t.name for t in trades')

    if name == 'worker'
      +field-with-errors('shop_id')
        select.form-control(ng-model='worker.shop_id'
          placeholer="{{ 'SHOPS.SINGLE' | translate }}"
          ng-options='s.id as s.name for s in shops')

    if block
      block

    +field-with-errors('phone')
      input.form-control(type='tel'
        placeholder="{{ 'PHONE' | translate }}"
        ng-model=(name + '.phone'))

    +field-with-errors('rating')
      rating(value=(name + '.rating') isreadonly='false' max='5')

    +field-with-errors('notes')
      textarea.form-control(ng-model=(name + '.notes')
        placeholder="{{ 'NOTES' | translate }}")
