include identifyableform
include ../editable/panelfooter
include ../namefield

mixin identifyable(name)
  div.panel.panel-primary

    - var _isEditing = 'isEditing(' + name + '.id)'

    header.panel-heading
      span(ng-hide=_isEditing)
        span= '{{' + name + '.name }}'

        if name == 'shop'
          span.pull-right
            span.badge.
              {{shop.workers_count}}
               {{ 'WORKERS.PLURAL' | translate | lowercase }}

      +name-field(name, _isEditing)

    div.panel-body.lead
      +identifyable-form(name, _isEditing)

      div(ng-hide=_isEditing)
        p
          span.glyphicon.glyphicon-earphone
          span= ' {{ ' + name + '.phone }}'

        rating(value=(name + '.rating') readonly='true' max='5')

        hr

        p= '{{ ' + name + '.notes }}'

    +panel-footer(name)
