div.row
  section.col-sm-3.list-group(my-pending,
    hide-condition='!trades')
    a.list-group-item(ng-repeat='trade in trades',
      ng-click='select(trade.id)',ng-bind='trade.name',
      ng-class='{active: isSelected(trade.id)}')

  section.col-sm-9(hide-condition='!ideas' my-pending)
    
    //- Showing view
    article.text-center.lead(ng-repeat='idea in ideas | orderBy:"body.length":true')
      div(ng-hide='isEditing(idea.id)')
        p {{idea.body}}
        div.btn-group
          button.btn.btn-primary(type='button',ng-click='edit(idea.id)') تعديل
          button.btn.btn-danger(type='button',ng-click='destroy(idea.id)') حذف

      //- Editing view
      div(ng-show='isEditing(idea.id)')
        div.form-group
          select.form-control(required, autofocus,ng-model='idea.trade_id',
            ng-options='t.id as t.name for t in trades')

        div.form-group
          textarea.form-control(placeholder='محتوى الفكرة',required,
            ng-model='idea.body')

        div.btn-group
          button.btn.btn-success(type='button',ng-click='reset(idea.id)') إلغاء
          button.btn.btn-primary(type='button',ng-click='update(idea)') حفظ
      hr

my-modal-form(modal-button='إضافة فكرة')
  form(role='form',ng-submit='create(idea)')
    div.form-group
      select.form-control(required, autofocus, ng-model='idea.trade_id', ng-options="t.id as t.name for t in trades")

    div.form-group
      textarea.form-control(placeholder='محتوى الفكرة', required, ng-model='idea.body')

    button.btn.btn-primary.btn-lg.btn-block(type='submit') إضافة فكرة
