section.row(hide-condition='trades.length == 0' my-pending)
  article.col-sm-4(ng-repeat='trade in trades | orderBy:"name"')
    //- Reading view
    div.panel.panel-primary
      header.panel-heading
        span(ng-hide='isEditing(trade.id)') {{trade.name}}
        input(required, autofocus, type='text',
          ng-model='trade.name',ng-show='isEditing(trade.id)')
      div.panel-body
        عدد الأفكار: {{trade.ideas_count}}
        br
        عدد المحلات: {{trade.shops_count}}
        br
        عدد العمال: {{trade.workers_count}}
        br
        عدد المواد: {{trade.materials_count}}
      footer.panel-footer
        button.btn.btn-primary.btn-xs(type='button',
          ng-click='edit(trade.id)',
          ng-hide='isEditing(trade.id)') تعديل
        button.btn.btn-primary.btn-xs(type='button',
          ng-click='update(trade)',ng-show='isEditing(trade.id)') تعديل
        button.btn.btn-xs(type='button',
          ng-click='reset(trade.id)',ng-show='isEditing(trade.id)') إلغاء
        button.btn.btn-danger.btn-xs(type='button',
          ng-click='destroy(trade.id)') حذف

my-modal-form(modal-button='إضافة فئة')
  form(role='form',ng-submit='create(trade)')
    div.form-group
      input.form-control(type='text', autofocus, required, placeholder="اسم الفئة" ng-model='trade.name')
    button.btn.btn-primary.btn-lg.btn-block(type='submit') إضافة فئة
