include fieldwitherrors

mixin identifyable-form(name, isShown)
  div(ng-show=isShown)
    +field-with-errors('trade_id')
      select.form-control(required
        placeholer="{{ 'TRADES.SINGLE' | translate }}"
        ng-model=(name + '.trade_id')
        ng-options='t.id as t.name for t in trades')

    if name == 'worker'
      +field-with-errors('shop_id')
        select.form-control(required
          placeholer="{{ 'SHOPS.SINGLE' | translate }}"
          ng-model='worker.shop_id'
          ng-options='s.id as s.name for s in shops')

    if block
      block

    +field-with-errors('phone')
      input.form-control(type='tel'
        placeholder="{{ 'PHONE' | translate }}"
        ng-model=(name + '.phone'))

    +field-with-errors('rating')
      input.form-control(type='number'
        placeholder="{{ 'RATING' | translate }}"
        min='0' max='5'
        ng-model=(name + '.rating'))

    +field-with-errors('notes')
      textarea.form-control(placeholder="{{ 'NOTES' | translate }}"
        ng-model=(name + '.notes'))
