mixin shop-form(isShown)
  div(ng-show=isShown)
    div.form-group
      select.form-control(required, placeholer='الفئة',
        ng-model='shop.trade_id', ng-options='t.id as t.name for t in trades')
    if block
      block
    div.form-group
      input.form-control(type='tel' placeholder='الهاتف'
        ng-model='shop.phone')
    div.form-group
      input.form-control(type='number' placeholder='التقييم'
        min='0' max='5' ng-model='shop.rating')
    div.form-group
      input.form-control(type='number' placeholder='السعر الأدنى'
        min='0', ng-model='shop.lower_price')
    div.form-group
      input.form-control(type='number' placeholder='السعر الأعلى'
        min='0', ng-model='shop.higher_price')
    div.form-group
      textarea.form-control(placeholder='ملاحظات'
        min='0', ng-model='shop.notes')
