include ../shared/fieldwitherrors

mixin shop-form(isShown)
  div(ng-show=isShown)
    +field-with-errors('trade_id')
      select.form-control(required placeholer='Trade',
        ng-model='shop.trade_id'
        ng-options='t.id as t.name for t in trades')

    if block
      block

    +field-with-errors('phone')
      input.form-control(type='tel' placeholder='Phone'
        ng-model='shop.phone')

    +field-with-errors('rating')
      input.form-control(type='number' placeholder='Rating'
        min='0' max='5' ng-model='shop.rating')

    +field-with-errors('notes')
      textarea.form-control(placeholder='Notes'
        min='0', ng-model='shop.notes')
