mixin worker-form(isShown)
  div(ng-show=isShown)
    div.form-group
      select.form-control(required placeholer='Trade'
        ng-model='worker.trade_id' ng-options='t.id as t.name for t in trades')
    div.form-group
      select.form-control(required placeholer='Shop'
        ng-model='worker.shop_id', ng-options='s.id as s.name for s in shops')
    if block
      block
    div.form-group
      input.form-control(type='tel' placeholder='Phone'
        ng-model='worker.phone')
    div.form-group
      input.form-control(type='number' placeholder='Rating'
        min='0' max='5' ng-model='worker.rating')
    div.form-group
      textarea.form-control(placeholder='Notes'
        min='0', ng-model='worker.notes')
